.title{
    background-color: slateblue;
    text-align: center;
    padding: 20px;
    color: white;
}

.title svg{
    color: whitesmoke;
}

.title h1{
    font-family: sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes reactSvg {
    from{
        transform: rotate(0deg) scale(1.0);
        
    }

    to{
        transform: rotate(360deg) scale(1.5);
    }
}

.title svg {
    margin: 0 10px 0 10px;
    animation-name: reactSvg;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}