.footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: slateblue;
    padding: 10px;
    margin-top: 10px;
}

p{
    margin-top: 5px;
}

p a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}